body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a.active {
    color: #4CAF50;
}

#experiences,
#contact,
#skills {
    display: none;
}

#experiences.active,
#contact.active,
#skills.active {
    display: block;
}


#addExperienceForm {
    margin-top: 20px;
}

#addExperienceForm label,
#addExperienceForm input,
#addExperienceForm textarea {
    display: block;
    margin: 10px 0;
}

#experienceList {
    margin-top: 20px;
}
