body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav,
footer {
    padding: 10px;
    color: white;
}

.blue {
    background-color: #007bff;
}

.green {
    background-color: #28a745;
}

#mainContent {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.article,
.sidebar {
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
}