body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

#formContainer,
#calculatorContainer {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 10px);
}

button {
    padding: 10px 15px;
    cursor: pointer;
}